::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #E0B545;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #b99539;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    header{
  
    position: absolute;
    width: 100%;
    top: 0;
        .header-skroll{
            display: flex;
            justify-content: space-around;
            position: relative;
            padding: 10px 0 10px 0;

        }
        .header-nav{
            display: flex;
            justify-content: space-between;
            width: 45%;
        }
    }
    main{
        .section-header{
            background-image: url('../photo/Rectangle\ 1316.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 100%;
            height: calc(200px + 820 * (100vw / 1920));
            flex-shrink: 0;
        }
        .section-calculator{
            max-width: 100%;
            height: calc(100px + 420 * (100vw / 1920));
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 12% 0 12%;
            .container-calculator{
                height: calc(100px + 208 * (100vw / 1920));
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .title-calculator{
                    color: #000;
                    margin: 0;
                    font-size: calc(14px + 22 * (100vw / 1920));;
                    font-weight: 400;
                }
                .area-calculator{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: calc(5px + 16 * (100vw / 1920));
                    width: calc(100px + 385 * (100vw / 1920));
                    output{
                        width: calc(15px + 45 * (100vw / 1920));
                    }
                    input[type='range'] {
                        -webkit-appearance: none !important;
                        background: #e1e1e1;
                        height:3px;
                    }
                    input[type='range']::-webkit-slider-thumb {
                        -webkit-appearance: none !important;
                        background: #E0B545;
                        border: #ffffff solid 3px;
                        border-radius: 10px;
                        height:20px;
                        width:20px;
                    }
                }
                .type-of-ceiling{
                    display: flex;
                    width: calc(85px + 300 * (100vw / 1920));
                    font-size: calc(5px + 16 * (100vw / 1920));
                    justify-content: space-between;
                    align-items: center;
                }
                .ceiling-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: calc(5px + 16 * (100vw / 1920));

                    width: calc(200px + 430 * (100vw / 1920));
                    .button{
                        border-radius: 5px;
                        border: none;
                        background: #E0B545;
                        width: 243px;
                        height: 54px;
                    }
                }
            }
            .swiper{
                margin: -100px 0 0 0;
                width: calc(50px + 381 * (100vw / 1920));
                height: calc(80px + 557 * (100vw / 1920));
                .swiper-wrapper{

                    .swiper-slide img{
                        width: calc(50px + 381 * (100vw / 1920));
                        height: calc(80px + 557 * (100vw / 1920));
                        flex-shrink: 0;
                    }
                }
            }
        }

        .section-gallery{
            padding: 0 calc(30px + 70 * (100vw / 1920)) 0 calc(30px + 70 * (100vw / 1920));
            .container-gallery{
                display: grid;
                grid-gap: calc(3px + 45 * (100vw / 1920));
                grid-template-columns: repeat(9, 1fr);
                .item-1{
                    grid-column: 1/5;
                }
                .item-2{
                    grid-column: 5/7;
                }
                .item-3{
                    grid-column: 7/10;
                }
                .item-4{
                    grid-column: 1/6;
                }
                .item-5{
                    grid-column: 6/10;
                }
                .item-6{
                    grid-column: 1/5;
                }
                .item-7{
                    grid-column: 5/7;
                }
                .item-8{
                    grid-column: 7/10;
                }
                img{
                    width: 100%;
                    height: calc(70px + 238 * (100vw / 1920));
                }
            }
        }

        .section-choice{
            height: calc(160px + 403 * (100vw / 1920));
            padding-left: 100px;
            h3{
                font-size: calc(5px + 27 * (100vw / 1920));
            }
            .container-flex-choice{
                display: flex;
                justify-content: space-between;
                padding: 0 100px 0 70px;
                .swiper-choice{
                    position: relative;
                    width: calc(60px + 503 * (100vw / 1920));
                    margin-right: calc(30px + 114 * (100vw / 1920));
                    // height: 328px;
                    overflow: hidden;
                    .slide-choise {
                        img{
                        width: calc(160px + 403 * (100vw / 1920));
                        height: calc(88px + 240 * (100vw / 1920));
                        }
                    }
                }

                .swiper-scrollbar{
                    position: relative;
                    width: calc(60px + 323 * (100vw / 1920));
                    // height: 328px;
                    overflow: hidden;
                    .swiper-slide{
                        opacity: 0.6;
                        img{
                            width: calc(36px + 85 * (100vw / 1920));
                            height: calc(22px + 40 * (100vw / 1920));                            
                        }
                    }
                    .swiper-slide-thumb-active {
                        opacity: 1;
                    }
                }

                .container-text-choice{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 328px;
                    .title-choice{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 90%;
                    }
                }
            }
        }

        .section-offer{
            background-color: #131313;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin-top: calc(20px + 28 * (100vw / 1920));
            padding: 0 calc(30px + 70 * (100vw / 1920)) 0 calc(30px + 70 * (100vw / 1920));
            font-size: calc(20px + 78 * (100vw / 1920));
            height: calc(29px + 190 * (100vw / 1920));
            p{
                margin: 0;
            }
            .tel{
                font-size: calc(14px + 48 * (100vw / 1920));
            }
        }


        .section-reviews{
            position: relative;
            margin: auto;
            margin-top: calc(20px + 70 * (100vw / 1920));

            .container-swiper{
                margin: 0;
                width: calc(200px + 1350 * (100vw / 1920));
                overflow: hidden;
                margin: auto;
                .swiper-reviews{
                    height: calc(31px + 330 * (100vw / 1920));
                    width: calc(50px + 430 * (100vw / 1920));
                    .swiper-wrapper{
                    .container-reviews{
                    // height: 361px;
                    // width: 480px;
                    box-sizing: border-box;
                    padding: calc(17px + 33 * (100vw / 1920));
                    background: #D9D9D9;
                        .flex-logo{
                            display: flex;
                            .reviews-logo img{
                                width: calc(25px + 70 * (100vw / 1920));
                                height: calc(25px + 70 * (100vw / 1920));
                                border-radius: 50px;
                                margin-right: calc(5px + 20 * (100vw / 1920));
                            }
                            .container-username{
                                font-size: calc(5px + 20 * (100vw / 1920));
                                p{
                                   margin: 0;
                                   margin-bottom: calc(2px + 23 * (100vw / 1920));
                                }
                            }
                        }
                        p{
                            font-size: calc(5px + 13 * (100vw / 1920));
                        }
                    }
                }

                }


            }
            .swiper-button-prev{
                width: calc(28px + 40 * (100vw / 1920));
                height: calc(28px + 40 * (100vw / 1920));
                border-radius: 50px;
                background-color: #D9D9D9;
                left: calc(10px + 50 * (100vw / 1920));
                top: 40%;
            }
            .swiper-button-prev::after{
                color: #000;
            }
            .swiper-button-next{
                width: calc(28px + 40 * (100vw / 1920));
                height: calc(28px + 40 * (100vw / 1920));
                border-radius: 50px;
                background-color: #D9D9D9;
                right: calc(10px + 50 * (100vw / 1920));
                top: 40%;
            }
            .swiper-button-next::after{
                color: #000;
            }
            .button{
                border-radius: 5px;
                border: none;
                background: #E0B545;
                width: calc(43px + 200 * (100vw / 1920));
                height: calc(10px + 44 * (100vw / 1920));
            }
            
        }
    }
}